/* ------- GERAIS ------- */
:root {
  --first-color: #3e3f40;
  --second-color: #dae2eb;
  --third-color: #434354;
  --text-color: #fff;
  --box-shadow: 0 5px 25px rbg(2, 2, 2, 0.1);
  --text-shadow: 0 5px 25px rbg(2, 2, 2, 0.1);
}

html, body, .cont2 {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", Arial, sans-serif;
}

/* ----------------------------------- index.html ------------------------------------- */
/* -------- CABEÇALHO -------- */
header nav.navbar-dark {
    position: relative;
}
#imagem {
    width: 100px;
    margin-top: -10px;
    margin-bottom: -10px;
}
.divisor {
    width: 1px;
    background: var(--text-color);
    margin: 12px 15px;
}
.icone1 {
    width: 35px;
    margin-right: 5px;
}

/* ---------- MENUS ---------- */
#capa {
    height: 349px;
}
.cont2 {
    background: url(/img/drink_wine.png) no-repeat left,
                url(/img/drink_wine2.png) no-repeat right;
    background-size: 750px;
    justify-content: center;
    width: 100%;
    height: 349px;
}
.margem {
    padding: 0px;
    margin: 0px;
}
.text1 {
    text-align: center;
}
.icone2 {
    width: 40px;
}
.list1 {
    border: 2px solid var(--first-color);
    padding: 10px 5px 10px 5px;
    background: var(--second-color);
    color: #000;
    font-weight: 500;
}
.list1:hover {
    color: #e0582b;
}
.list-group-item {
    width: 100px;
}

/* ------- BARRA DE PESQUISA ------- */
.pesquisa {
    text-decoration: underline;
    text-align: center;
    width: 150px;
    margin-right: 10px;
    border: 1px solid var(--text-color);
    border-radius: 15px 0px 15px 0px;
}
.naveg {
    padding-top: 6px;
    padding-bottom: 3px;
}
#texto_nav {
    color: var(--text-color);
    font-family: "Goudy Old Style", Garamond, serif;
    font-size: 2rem;
}
.icone3 {
    width: 25px;
}

/* ------ AREA DE VENDAS ----- */
.img_produtos {
    height: 300px;
}
.bebidas {
    height: 100%;
}
h4 {
    border: 1px solid #3e3f40;
    border-radius: 25px;
    display: inline-block;
    margin-top: 4px;
    width: 300px;
    font-size: 21px;
}
h5 {
    font-size: 19px;
    background-color: #3e3f40;
    color: #fff;
}
li.card h5 span {
    color: red;
    font-size: 19px;
    text-decoration: line-through;
}
.desconto {
    background: red;
    color: var(--text-color);
    font-size: 20px;
    line-height: 18px;
    border-radius: 20px;
    font-family: "Goudy Old Style", Garamond, serif;
    padding: 8px;
    display: inline-block;
    position: absolute;
    top: 5px;
    right: 5px;
}

/* ----- Menu Vendas DRAGGING ----- */
section {
    background: url(/img/fundo-ruidoso.avif) repeat-y;
    position: relative;
    transition: 0.5s ease;
  }
.main-container {
    position: relative;
}
.tab-nav-bar {
    position: relative;
    margin-top: 10px;
}
.tab-navigation {
    position: relative;
    display: flex;
    justify-content: center;       /* alinha os cards no centro */
    align-items: center;           /* alinha as arrow no centro */
    margin: 0 auto;
}
.tab-menu {
    color: var(--text-color);
    list-style: none;
    background: var(--third-color);
    max-width: 1280px;
    padding: 10px;
    white-space: nowrap;
    border-radius: 40px;
    box-shadow: var(--box-shadow);
    overflow-x: auto;
    scroll-behavior: smooth;
}
.tab-menu.dragging {
    scroll-behavior: unset;
    cursor: grab;
}
.tab-menu::-webkit-scrollbar {  /* -- Removendo scrollbar -- */
    display: none;
}
.tab-btn {
    overflow-x: hidden;
    text-align: center;
    color: #3e3f40;
    display: inline-block;
    font-size: 1em;
    font-weight: 400;
    margin: 6px 5px 0 5px;
    border-radius: 30px;
    cursor: pointer;
    user-select: none;
    /*transition: 0.3s ease;*/
}
.tab-menu.dragging .tab-btn {
    pointer-events: none;
}
.tab-btn:hover {
    background: url(/img/teste-cores2.png) no-repeat center bottom;
    color: var(--text-color);
}
.left-btn, .right-btn {
    position: absolute;
    color: var(--text-color);
    font-size: 1.8em;
    padding: 10px;
    cursor: pointer;
}
.left-btn {
    left: 0;
    background: linear-gradient(to left, transparent, var(--first-color) 80%);
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    display: none;
}
.right-btn {
    right: 0;
    background: linear-gradient(to right, transparent, var(--first-color) 80%);
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
}
a.btn {
    margin-top: -7px;
}

/* ------------ Footer ------------ */
footer ul.navbar-nav li.nav-item {
    margin: 20px 50px 20px 50px;
}
.titulo {
    margin-left: 8px;
    color: var(--text-color);
    font-size: 20px;
    cursor: default;
}
footer ul.navbar-nav li.nav-item span.nav-link {
    cursor: default;
}
footer ul.navbar-nav li.nav-item a.nav-link, footer ul.navbar-nav li.nav-item span.nav-link {
    line-height: 0.8;
}
.icone4 {
    width: 30px;
    margin-right: 5px;
    margin-top: -4px;
}

/* ---------- mediaquerys index --------*/
@media (max-width: 575.98px) {
    .tab-menu {
        max-width: 329px;
    }
}
@media (min-width: 576px) and (max-width: 767.98px) {
    .tab-menu {
        max-width: 329px;
    }
    footer ul.navbar-nav li.nav-item {
        margin: 20px 20px 20px 20px;
    }
}
@media (min-width: 768px) and (max-width: 991.98px) {
    .tab-menu {
        max-width: 647px;
    }
    footer ul.navbar-nav li.nav-item {
        margin: 20px 40px 20px 40px;
    }
}
@media (min-width: 992px) and (max-width: 1199.98px) {
    .tab-menu {
        max-width: 964px;
    }
}


/* ----------------------------------- inscrever.html ---------------------------------- */
#cadastro {
    box-sizing: border-box;
    padding: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
section div.container {
    box-sizing: border-box;
    margin-top: -100px;
    padding: 0;
    width: 80%;
    height: 80vh;
    display: flex;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, .212);
    background: #0c0ce94d;
}
.form-image {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fde3a7;
    padding: 1rem;
}
.form-image img {
    width: 36rem;
}
.form1 {
    width: 50%;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    background-color: var(--text-color);
    padding: 3rem;
}
.form {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--text-color);
    padding: 3rem;
}
.title1 {
    margin-top: 3rem;
    margin-bottom: -2rem;
}
.title2 {
    margin-top: 5rem;
    margin-bottom: -1rem;
}
.form-header {
    margin-bottom: 3rem;
    display: flex;
    justify-content: space-between;

}
.login-button {
    display: flex;
    align-items: center;
}
.login-button a.btn {
    border: 2px solid var(--text-color);
    background-color: #6c63ff;
    padding: 0.4rem 1.6rem;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 0;
}
.login-button a:hover {
    background-color: #6c63fff1;
}
.login-button a {
    text-decoration: none;
    font-weight: 500;
    color: var(--text-color);
}
.form-header h1::after {
    content: '';
    display: block;
    width: 5rem;
    height: 0.3rem;
    background-color: #6c63ff;
    margin: 0 auto;
    position: absolute;
    border-radius: 10px;
}
.input-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 1rem 0rem;
}
.input-group1 {
    display: block;
    flex-wrap: wrap;
    justify-content: center;
    padding: 1rem 0rem;
}
.input-box {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.1rem;
}
.input-box input {
    margin: 0.6rem 0.5rem 0.6rem 0;
    padding: 0.8rem 1rem;
    border: none;
    border-radius: 10px;
    box-shadow: 1px 1px 6px #0000001c;
}
.input-box input:hover {
    background-color: #eeeeee75;
}
.input-box input:focus-visible {
    outline: 1px solid #6c63ff;
}
.input-box label, .gender-title h6 {
    font-size: 1rem;
    font-weight: 600;
    color: #000000c8;
}
.input-box input::placeholder {
    color: #000000be;
}
.gender-group {
    display: flex;
    justify-content: space-between;
    margin-top: 0.62rem;
    padding: 0 0.5rem;
}
.gender-input {
    display: flex;
    align-items: center;
}
.gender-input input {
    margin-right: 0.35rem;
    margin-top: -6px;
}
.gender-input label {
    font-size: 0.81rem;
    font-weight: 600;
    color: #000000c0;
}
.continue-button button.btn {
    width: 100%;
    margin-top: 2,5rem;
    border: none;
    background-color: #6c63ff;
    padding: 0.62rem;
    border-radius: 5px;
    cursor: pointer;
}
.continue-button button.btn:hover {
    background-color: #6c63fff1;
}
.continue-button button {
    text-decoration: none;
    font-size: 0.93rem;
    font-weight: 500;
    color: var(--text-color);
}
.continue-button a.btn {
    width: 100%;
    margin-top: 2,5rem;
    border: none;
    background-color: #6c63ff;
    padding: 0.62rem;
    border-radius: 5px;
    cursor: pointer;
}
.continue-button a.btn:hover {
    background-color: #6c63fff1;
}
.continue-button a {
    text-decoration: none;
    font-size: 0.93rem;
    font-weight: 500;
    color: var(--text-color);
}
.marg {
    margin-top: -100px;
}

/* ---------- mediaquerys inscrever --------*/
@media screen and (max-width: 1410px) {
    .form-image {
        display: none;
    }
    section div.container {
        width: 50%;
    }
    .form {
        width: 100%;
    }
    .form1 {
        width: 100%;
    }
}
@media screen and (max-width: 1094px) {
    section div.container {
        width: 50%;
        min-width: 450px;
        height: auto;
    }
    .input-group {
        flex-direction: column;
        overflow-y: scroll;
        padding-top: 300px;
        flex-wrap: nowrap;
        max-height: 10rem;
        padding-right: 5rem;
    }
    .gender-inputs {
        margin-top: 2rem;
    }
    .gender-group {
        flex-direction: column;
    }
    .gender-input {
        margin-top: 0.5rem;
    }
    .input-box input {
        margin: 0.1rem 0;
    }
}